<%- include("./partials/header.ejs")%>
<% if (fullName && favouriteColour && message && favouriteDay ) %>
    <div style="color: <%- favouriteColour %>;">
        <h1>Thank you</h1>
        <p>Hi, <%- fullName %>.</p>
        <p>You said <%- message %>.</p>
        <p>I see you also like this colour, so I changed the text to: <%- favouriteColour %> </p>
        <p>Let's hang out on <%- favouriteDay %></p>
        <img src="/images/thumbsUp.gif" alt="thumbs up">
    </div>
<%- include("./partials/footer.ejs")%>


